<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
    div{
    text-align:center;
    border:1px solid;
    border-radius: 50px;
    border-width: 5px;
    height: 550px;
    }
    img{
    margin-top: 100px;
    }
    form{
    margin-top: 50px;
    }
    button{
    width:460px;
    }

    </style>
</head>
<body>
<div>
<img src="https://steamcdn-a.akamaihd.net/steam/apps/374320/header.jpg?t=1553251330">
<form method="post" action=".">{% csrf_token %}
    <button type="submit">삭제하시겠습니까?</button>
</form>
</div>
</body>
</html>